{>base/}

{<content}
    {breadcrumbs}
    {#content}
        <div id="x-account">
        <h1>Account</h1>
        {account}
        <p>Nevermind... your account information is not here. You've been mislead. Likely by goblins.</p>
        </div>
    {/content}
{/content}
