{>base/}

{<content} 

	{?content.sliderHero}
	
	    <div class="x-slideshow-outer">
			<div class="x-slideshow-items">
		    	{content.sliderHero}
		    </div>
	    	<div id="x-slideshow-nav">
	    		<div id="x-dots">
	    			{#content.sliderHero}
			    		<span class="x-dot">.</span>
		    		{/content.sliderHero}
	    		</div>
	    		<span id="x-prev">Prev</span> <span id="x-next">Next</span> 
	    	</div>
	    </div>
	    
    {/content.sliderHero}
    
    {?content.gridHero}
    
    	<div class="x-gridhero">
	    	{#content.gridHero}
	    		<div class="x-grid-{@idx}{.}{/idx}">
	    			{.}
	    		</div>
    		{/content.gridHero}
    	</div>
    
    {/content.gridHero}
    
	{content.newsletterSignup}
    
    {content.accordionCategories}
    
    {?content.gridCategories}
    
    	<div id="x-gridcategories">
    		{#content.gridCategories}
    			<div class="x-grid x-grid-{@idx}{.}{/idx}">
	    			{.}
	    		</div>
    		{/content.gridCategories}
    	</div>
    
    {/content.gridCategories}
    
    {content.poll}
    
{/content}


{<scripts}
    {_SUPER_}
    {%script}
        (function($) {
            var $slider = $('.x-slideshow-items').slide({dots: '#x-dots'});

            $('#x-prev, #x-next').bind($.support.events.up, function(e) {
                var direction = (e.target.id == 'x-prev') ? 1 : -1;
                $slider.trigger('slidemove', [direction]);
            });
            
             $('#categories .block-title').click(function() {
                
                $('#categories .block-title').removeClass('x-on');
                
                $('#categories ul.links').slideUp();
                
                if($(this).next().is(':hidden') == true) {
                    $(this).addClass('x-on');
                    $(this).next().slideDown();
                }
                
                return false;
            });
            
            $('#categories ul.links').hide();
            
        })(Mobify.$);
    {/script}
{/scripts}
